<h1>AdminsBackoffice::Questions#index</h1>

<h2><%= t('message.listing', model: @questions.model_name.human(count: 2)) %></h2>

<%= render 'layouts/messages' %>

<div>
   Quantidade de questões: 
   <span class="badge badge-success"> <!--não funciona-->
      <%= @total %>
   </span>
</div>

<div class="add_question">
   <%= link_to new_admins_backoffice_question_path, style:"color: green;" do %>
      <i class="bi bi-file-earmark-plus"></i> Nova Questão
   <% end %>
</div>

<table class="table">
   <thead>
      <tr>
         <th><%= translate_attribute(@questions, :id) %></th>
         <th><%= translate_attribute(@questions, :description) %></th> <!--helper/admins_template-->
         <th><%= translate_attribute(@questions, :subject) %></th>
         <th><%= translate_attribute(@questions, :edit) %></th>
         <th><%= translate_attribute(@questions, :delete) %></th>
      </tr>
   </thead>
   <tbody>
      <% @questions.each do |question| %>
         <tr>
            <td><%= question.id %></td>
            <td><%= question.description.truncate(50) %></td>
            <td><%= question.subject.description %></td>
            <td>
               <%= link_to edit_admins_backoffice_question_path(question) do %>
                  <i class="bi bi-pencil"></i> 
               <% end %>
            </td>
            <td>
               <%= link_to admins_backoffice_question_path(question), method: :delete, data: {confirm: t('message.confirm_delete_question', item: question.id)} do %>
                  <i class="bi bi-x-circle"></i>
               <% end %>
            </td>
         </tr>
      <% end %>
   </tbody>
</table>

<%= paginate @questions %>

<div>
   <%= link_to "Início", admins_backoffice_welcome_index_path %>
</div>