<h1>UserProfile#edit</h1>
<p>Params: <%= params %></p>

<%= @user.email %>

<%= form_with(url: users_backoffice_user_profile_path, model: @user) do |form| %>
	<div class="form-group">
		<%= form.label :first_name, for:"first_name" %><br>
		<%= form.text_field :first_name, class:"form-control", id:"first_name" %>
	</div>
	<div class="form-group">
		<%= form.label :last_name, for:"last_name" %><br>
		<%= form.text_field :last_name, class:"form-control", id:"last_name" %>
	</div>
	<div class="form-group">
		<%= form.label :email %><br>
		<%= form.text_field :email, class:"form-control" %>
	</div>

	<!--Dados da tabela UserProfile-->
	<%= form.fields_for :user_profile do |profile_form| %>
		<div class="form-group">
			<%= profile_form.label :address %><br>
			<%= profile_form.text_field :address, class:"form-control"%>
		</div>

		<div class="form-group">
			<%= profile_form.label :gender %><br>
			<label>
				<%= profile_form.radio_button :gender, "M" %> &nbsp; Masculino &nbsp;
			</label>
			<label>
				<%= profile_form.radio_button :gender, "F" %> &nbsp; Feminino &nbsp;
			</label>
		</div>

		<!--vídeo 215: trabalhando com radio buttons-->
		<!--
		<div class="form-group">
			<%= profile_form.label :gender %><br>
			<div id="gender" class="btn-group" data-toggle="buttons">
				<label class="btn <%= gender_select(@user, 'M')  %>">
					<%= profile_form.radio_button :gender, "M", "data-parsely-multiple":"gender" %> &nbsp; Masculino &nbsp;
				</label>
				<label class="btn <%= gender_select(@user, 'F') %> ">
					<%= profile_form.radio_button :gender, "F", "data-parsely-multiple":"gender" %> &nbsp; Feminino &nbsp;
				</label>
			</div>	
		</div>
		-->

		<!-- Add funcionalidade de toggle para as classes 'primary' e 'default' dos botões-->
		<%= javascript_tag do %>
			var labels = document.querySelectorAll('div#gender label')
			labels.forEach((label) => {
				label.addEventListener('click', () => {
					label.classList.remove('btn-default');
					label.classList.add('btn-primary');

					labels.forEach((lbl) => {
						if(lbl != label) {
							label.classList.remove('btn-primary');
							label.classList.add('btn-default');
						}
					})
				})
			})
		<% end %>

		<div class="form-group">
			<%= profile_form.label :birthday %>
			<% if I18n.locale == :"pt-BR" %>
				<span>: mês/dia/ano</span><br>
			<% else %>
				<span>: month/day/year</span><br>
			<% end %>
			<%= profile_form.date_field :birthday, class:"form-control" %>
		</div>
		
	<% end %>

	<div class="form-group">
		<%= form.label :password, for:"password" %><br>
		<%= form.password_field :password, class:"form-control", id:"password" %>
	</div>
	<div class="form-group">
		<%= form.label :password_confirmation, for:"password_confirmation" %><br>
		<%= form.password_field :password_confirmation, class:"form-control", id:"password_confirmation" %>
	</div>
	 <button type="submit" class="btn btn-primary">Submit</button>
<% end %>


