<h1>UsersBackoffice::Welcome#index</h1>
<p>Find me in app/views/users_backoffice/welcome/index.html.erb</p>
<p>Params: <%= params %></p>

<h2>Seja bem-vindo: <%= current_user.full_name %></h2>
<p>
   <%= link_to "Home", root_path %>
</p>
<p>
   <%= link_to "Dados do Perfil", users_backoffice_user_profile_path %>
</p>

<div>
   <ul>
      <li>Total de questões respondidas: <%= @user_statistic.total_questions %></li>
      <li>Total de questões respondidas corretamente: <%= @user_statistic.correct_questions %></li>
      <li>Total de questões respondidas incorretamente: <%= @user_statistic.incorrect_questions %></li>
   </ul>
</div>