<h1>AdminsBackoffice::Subjects#index</h1>

<h2><%= t('message.listing', model: @subjects.model_name.human(count: 2)) %></h2>

<div class="add_subject">
   <%= link_to new_admins_backoffice_subject_path, style:"color: green;" do %>
      <i class="bi bi-file-earmark-plus"></i> Novo Assunto/Área
   <% end %>
</div>


<table class="table">
   <thead>
      <tr>
         <th><%= translate_attribute(@subjects, :id) %></th>
         <th><%= translate_attribute(@subjects, :description) %></th>
         <th><%= translate_attribute(@subjects, :edit) %></th>
         <th><%= translate_attribute(@subjects, :delete) %></th>
      </tr>
   </thead>
   <tbody>  
      <% @subjects.each do |subject| %>
         <tr>
            <td><%= subject.id %></td>
            <td>
               <%= subject.description %>
            </td>
            <td>
               <%= link_to edit_admins_backoffice_subject_path(subject) do %>
                  <i class="bi bi-pencil"></i> 
               <% end %>
            </td>
            <td>
               <%= link_to admins_backoffice_subject_path(subject), method: :delete, data: {confirm: t('message.confirm_delete_subject', name: subject.description)} do %>
                  <i class="bi bi-file-earmark-x"></i>
               <% end %>
            </td>
         </tr>
      <% end %>
   </tbody>
</table>

<%= paginate @subjects %>

<div>
   <%= link_to "Início", admins_backoffice_welcome_index_path %>
</div>