<h1>AdminsBackoffice::Admins#index</h1>

<h2><%= t('message.listing', model: @admins.model_name.human(count: 2)) %></h2>

<%= render 'layouts/messages' %>


<div class="add_admin">
   <%= link_to new_admins_backoffice_admin_path, style:"color: green;" do %>
      <i class="bi bi-person-plus"></i> Novo Administrador
   <% end %>
</div>
<table class="table">
   <thead>
      <tr>
         <th><%= translate_attribute(@admins, :id) %></th>
         <th><%= translate_attribute(@admins, :email) %></th>
         <th><%= translate_attribute(@admins, :edit) %></th>
         <th><span style="color: red;"><%= translate_attribute(@admins, :delete) %></span></th>
      </tr>
   </thead>
   <tbody>
      <% @admins.each do |admin| %>
         <tr>
            <td><%= admin.id %></td>
            <td><%= admin.email %></td>
            <td>
               <%= link_to edit_admins_backoffice_admin_path(admin) do %>
                  <i class="bi bi-pencil"></i> 
               <% end %>
            </td> 
            <td>
               <%= link_to admins_backoffice_admin_path(admin), method: :delete, data: {confirm: t('message.confirm_delete_admin', email: admin.email)} do %>
                  <i class="bi bi-person-x"></i>
               <% end %>
            </td>
         </tr>
      <% end %>
   </tbody>
</table>


<%= paginate @admins %>

<div>
   <%= link_to "Início", admins_backoffice_welcome_index_path %>
</div>



