<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
      <h1>Admins Backoffice Layout</h1>
      <p>Params: <%= params %></p>
      <div>
        <% if admin_signed_in? %>
          Logado como: <strong><%= current_admin.email %></strong><br>
          <%= link_to 'Editar perfil', edit_admin_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Registrar-se", new_admin_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_admin_session_path, :class => 'navbar-link'  %>
        <% end %>
      </div>
      <hr>
      <%= yield %>
  </body>
</html>
